<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/donations.css">

    <title>Donation History : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1>Donation History</h1>

    <section class="main">
        <%- include("sidebar") %>
        <div class="main-item">
            <table class="main-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Aadhar No.</th>
                        <th>Report</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i<donations.length;i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td> <a href=<%= "/admin/"+adminId+"/donors/"+donations[i].aadhar %>><%= donations[i].aadhar %></a> </td>
                            <td> <a href= <%= "/admin/"+adminId+"/reports/"+donations[i].reportId %>>View Report >>></a> </td>
                        </tr>
                    <%} %>
                </tbody>
            </table>
        </div>
    </section>

    <%-include("../common/footer")%>
</body>
</html>