<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/donor.css">
    <title>Donor : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1> <%= donor.name %> </h1>

    <section class="main">
        <%- include("sidebar") %>
        <div class="main-item">
            <table class="main-table">
                <tr>
                    <td class="left-col">Name : </td>
                    <td class="right-col"> <%= donor.name %> </td>
                </tr>
                <tr>
                    <td class="left-col">Gender : </td>
                    <td class="right-col"> <%= donor.gender %> </td>
                </tr>
                <tr>
                    <td class="left-col">Aadhar Number : </td>
                    <td class="right-col"> <%= donor.aadhar %> </td>
                </tr>
                <tr>
                    <td class="left-col">e-mail : </td>
                    <td class="right-col"> <%= donor.email %> </td>
                </tr>
                <tr>
                    <td class="left-col">Father's Name : </td>
                    <td class="right-col"> <%= donor.fname %> </td>
                </tr>
                <tr>
                    <td class="left-col">Mobile No. : </td>
                    <td class="right-col"> <%= donor.mobile %> </td>
                </tr>
                <tr>
                    <td class="left-col">Date of Birth : </td>
                    <td class="right-col"> <%= donor.dob.getDate()+"/"+(donor.dob.getMonth()+1)+"/"+donor.dob.getFullYear() %> </td>
                </tr>
                <tr>
                    <td class="left-col">Address : </td>
                    <td class="right-col"> <%= donor.address %> </td>
                </tr>
                <tr>
                    <td class="left-col">Date of Registration : </td>
                    <td class="right-col"> <%= donor.dateOfRegistration.getDate()+"/"+(donor.dateOfRegistration.getMonth()+1)+"/"+donor.dateOfRegistration.getFullYear() %> </td>
                </tr>
            </table>
            <div class="button-holder">
                <a href= <%= "/admin/"+adminId+"/donors/"+donor._id+"/edit" %> ><button>Edit</button></a>
                <a href= <%= "/admin/"+adminId+"/donors/"+donor.aadhar+"/history" %> ><button>Donation History</button></a>
                <a href= <%= "/admin/"+adminId+"/donors/"+donor._id+"/delete" %> ><button onclick="return recheck();">Delete</button></a>
            </div>
        </div>
    </section>
    
    <%-include("../common/footer")%>

    <script>
        function recheck(){
            if(confirm("Are you sure to delete the DONOR ? ")===true){
                return true;
            }
            else{
                return false;
            }
        }
    </script>
</body>
</html>