<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/hospital.css">
    <title>Donor : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1> <%= donor.name %> </h1>

    <section class="main">
        <div class="side-bar">
            <table class="side-table">
                <thead><tr><th>Admin</th></tr></thead>
                <tbody>
                    <tr><td><a href= <%= "/admin/"+adminId+"/donors" %> >Donors</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/employees" %>>Employee</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/hospitals" %>>Hospital</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/bloodRequests" %>>Blood Requests</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/blood" %>>Blood Inventory</a></td></tr>
                </tbody>
                <tfoot><tr><td></td></tr></tfoot>
            </table>
        </div>
        <div class="main-item">
            <table class="main-table">
                <tr>
                    <td class="left-col">Name : </td>
                    <td class="right-col"> <%= donor.name %> </td>
                </tr>
                <tr>
                    <td class="left-col">Gender : </td>
                    <td class="right-col"> <%= donor.gender %> </td>
                </tr>
                <tr>
                    <td class="left-col">Aadhar Number : </td>
                    <td class="right-col"> <%= donor.aadhar %> </td>
                </tr>
                <tr>
                    <td class="left-col">e-mail : </td>
                    <td class="right-col"> <%= donor.email %> </td>
                </tr>
                <tr>
                    <td class="left-col">Father's Name : </td>
                    <td class="right-col"> <%= donor.fname %> </td>
                </tr>
                <tr>
                    <td class="left-col">Mobile No. : </td>
                    <td class="right-col"> <%= donor.mobile %> </td>
                </tr>
                <tr>
                    <td class="left-col">Date of Birth : </td>
                    <td class="right-col"> <%= donor.dob.getDate()+"/"+donor.dob.getMonth()+"/"+donor.dob.getFullYear() %> </td>
                </tr>
                <tr>
                    <td class="left-col">Address : </td>
                    <td class="right-col"> <%= donor.address %> </td>
                </tr>
                <tr>
                    <td class="left-col"><a href= <%= "/admin/"+adminId+"/donors/"+donor._id+"/edit" %> ><button>Edit</button></a></td>
                    <td class="right-col"><a href= <%= "/admin/"+adminId+"/donors/"+donor._id+"/delete" %> ><button onclick="return recheck();">Delete</button></a></td>
                </tr>
            </table>
        </div>
    </section>
    
    <%-include("../common/footer")%>

    <script>
        function recheck(){
            if(confirm("Are you sure to delete the DONOR ? ")===true){
                return true;
            }
            else{
                return false;
            }
        }
    </script>
</body>
</html>