<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/home.css">

    <title>Employees : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1>Manage Employees</h1>

    <section class="main">
        <div class="side-bar">
            <table class="side-table">
                <thead><tr><th>Admin</th></tr></thead>
                <tbody>
                    <tr><td><a href= <%= "/admin/"+adminId+"/donors" %> >Donors</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/employees" %>>Employee</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/hospitals" %>>Hospital</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/bloodRequests" %>>Blood Requests</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/blood" %>>Blood Inventory</a></td></tr>
                </tbody>
                <tfoot><tr><td></td></tr></tfoot>
            </table>
        </div>
        <div class="main-item">
            <table class="main-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Aadhar No.</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>e-mail</th>
                        <th>Mobile</th>
                        <th>DOB</th>
                        <th>Job Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% employees.forEach((employee,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= employee.aadhar %></td>
                            <td><%= employee.name %></td>
                            <td><%= employee.gender %></td>
                            <td><%= employee.email %></td>
                            <td><%= employee.mobile %></td>
                            <td><%= employee.dob.getDate()+"/"+(employee.dob.getMonth()+1)+"/"+employee.dob.getFullYear() %></td>
                            <td><%= employee.jobTitle %></td>
                            <td><a href=<%= "/admin/"+adminId+"/employees/"+employee._id %>>Manage >>></a></td>
                        </tr>
                    <%}) %>
                </tbody>
            </table>
            <a href= <%= "/admin/"+adminId+"/employees/register" %> ><button>+ New Employee</button></a>
        </div>
    </section>

    <%-include("../common/footer")%>
</body>
</html>