<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/home.css">
    <title>Admin : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1><%= message %></h1>
    
    <section class="main">
        <%- include("sidebar") %>
        <div class="main-item">
            
            <a href= <%= link %> ><button> <%= btnText %> </button></a>
        </div>
    </section>

    <%-include("../common/footer")%>
</body>
</html>