<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/home.css">
    <title>Admin : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1>Hello, <%= adminName %></h1>
    
    <section class="main">
        <%- include("sidebar") %>
        <div class="main-item">
            <h3>Total Blood Collected = <%= verifiedDonations.length %></h3>
            <h3>Total Requests Allocated = <%= allocated.length %></h3>
            <h3>Total Pending Requests = <%= requests.length %></h3>
            <br><br><br>
            <h1>Blood Inventory Dashboard</h1>
            <table class="dash-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>O-</th>
                        <th>O+</th>
                        <th>B-</th>
                        <th>B+</th>
                        <th>A-</th>
                        <th>A+</th>
                        <th>AB-</th>
                        <th>AB+</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Plasma</th>
                        <% countPlasmas.forEach((countPlasma)=>{ %>
                            <td> <%= countPlasma %></td>
                        <% }) %>
                    </tr>
                    <tr>
                        <th>Red Blood Cells</th>
                        <% countRBCs.forEach((countRBC)=>{ %>
                            <td><%= countRBC %></td>
                        <% }) %>
                    </tr>
                    <tr>
                        <th>Platelets</th>
                        <% countPlatelets.forEach((countPlatelet)=>{ %>
                            <td><%= countPlatelet %></td>
                        <% }) %>
                    </tr>
                    <tr>
                        <th>Whole Blood</th>
                        <% countBloods.forEach((countBlood)=>{ %>
                            <td><%= countBlood %></td>
                        <% }) %>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <%-include("../common/footer")%>
</body>
</html>