<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/hospital.css">
    <title>Hospitals : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1> <%= hospital.hospitalName %> </h1>

    <section class="main">
        <%- include("sidebar") %>
        <div class="main-item">
            <table class="main-table">
                <tr>
                    <td class="left-col">Name : </td>
                    <td class="right-col"> <%= hospital.hospitalName %> </td>
                </tr>
                <tr>
                    <td class="left-col">Registration Number : </td>
                    <td class="right-col"> <%= hospital.registrationNumber %> </td>
                </tr>
                <tr>
                    <td class="left-col">Nodal Person : </td>
                    <td class="right-col"> <%= hospital.nodalPerson %> </td>
                </tr>
                <tr>
                    <td class="left-col">Telephone : </td>
                    <td class="right-col"> <%= hospital.telephone %> </td>
                </tr>
                <tr>
                    <td class="left-col">Address : </td>
                    <td class="right-col"> <%= hospital.address %> </td>
                </tr>
                <tr>
                    <td class="left-col">Locality : </td>
                    <td class="right-col"> <%= hospital.locality %> </td>
                </tr>
                <tr>
                    <td class="left-col">District : </td>
                    <td class="right-col"> <%= hospital.district %> </td>
                </tr>
                <tr>
                    <td class="left-col">State : </td>
                    <td class="right-col"> <%= hospital.state %> </td>
                </tr>
                <tr>
                    <td class="left-col">PIN code : </td>
                    <td class="right-col"> <%= hospital.pincode %> </td>
                </tr>
                <tr>
                    <td class="left-col"><a href= <%= "/admin/"+adminId+"/hospitals/"+hospital._id+"/edit" %> ><button>Edit</button></a></td>
                    <td class="right-col"><a href= <%= "/admin/"+adminId+"/hospitals/"+hospital._id+"/delete" %> ><button onclick="return recheck();">Delete</button></a></td>
                </tr>
            </table>
        </div>
    </section>
    
    <%-include("../common/footer")%>

    <script>
        function recheck(){
            if(confirm("Are you sure to delete the HOSPITAL ? ")===true){
                return true;
            }
            else{
                return false;
            }
        }
    </script>
</body>
</html>