<%-include("../common/header")%>

    <link rel="stylesheet" href="/admin/home.css">
    <title>Hospitals : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1>Manage Hospitals</h1>

    <section class="main">
        <div class="side-bar">
            <table class="side-table">
                <thead><tr><th>Admin</th></tr></thead>
                <tbody>
                    <tr><td><a href= <%= "/admin/"+adminId+"/donors" %> >Donors</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/employees" %>>Employee</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/hospitals" %>>Hospital</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/bloodRequests" %>>Blood Requests</a></td></tr>
                    <tr><td><a href=<%= "/admin/"+adminId+"/blood" %>>Blood Inventory</a></td></tr>
                </tbody>
                <tfoot><tr><td></td></tr></tfoot>
            </table>
        </div>
        <div class="main-item">
            <table class="main-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Registration No.</th>
                        <th>Name</th>
                        <th>Nodal Person</th>
                        <th>Telephone</th>
                        <th>Locality</th>
                        <th>District</th>
                        <th>State</th>
                        <th>PIN</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% hospitals.forEach((hospital,index)=>{ %>
                        <tr>
                            <td><%= index+1 %></td>
                            <td><%= hospital.registrationNumber %></td>
                            <td><%= hospital.hospitalName %></td>
                            <td><%= hospital.nodalPerson %></td>
                            <td><%= hospital.telephone %></td>
                            <td><%= hospital.locality %></td>
                            <td><%= hospital.district %></td>
                            <td><%= hospital.state %></td>
                            <td><%= hospital.pincode %></td>
                            <td><a href= <%= "/admin/"+adminId+"/hospitals/"+hospital._id %> >Manage >>></a></td>
                        </tr>
                    <%}) %>
                </tbody>
            </table>
            <a href= <%= "/admin/"+adminId+"/hospitals/register" %> ><button>+ New Hospital</button></a>
        </div>
    </section>
    
    <%-include("../common/footer")%>
</body>
</html>