<%-include("header")%>
    <title>Admin : Blood Bank</title>
</head>
<body>
    <%-include("navbar")%>

    <h1>Hello, <%= employee.name %> ( <%= role %> ) </h1>
    <a href= <%= "/hospital/register/"+admin._id %> >Add Hospital</a>

    <%-include("footer")%>
</body>
</html>