<%-include("header")%>
    <title>Donor : Blood Bank</title>
</head>
<body>
    <%-include("navbarlogin")%>

    <h1>Hello, <%= donor.name %> (<%= role %>) </h1>

    <%-include("footer")%>
</body>
</html>