<%-include("../common/header")%>
    <!-- Main -->
    <link rel="stylesheet" href="/landing/home.css">

    <title>Home : Blood Bank</title>

</head>
<body>
    <%-include("navbar")%>
    <section id="mid-section">
        <div class="mid-first">
            <div class="main-home-item">
                <img src="/images/landing.jpg" alt="Random Blood Donation Picture">
            </div>
            <div class="main-home-item">
                <div class="para-item">
                    <p>“Someone's  <span>blood saved my life</span> </p>
                    <p>and made my  <span>mom smile</span> </p>
                    <p>- was that<span> you</span>?”</p>
                    <a href="/register"><button>Donate</button></a>
                </div>
            </div>
        </div>

        <h1>Blood Inventory Dashboard</h1>
        
        <table class="dash-table">
            <thead>
                <tr>
                    <th></th>
                    <th>O-</th>
                    <th>O+</th>
                    <th>B-</th>
                    <th>B+</th>
                    <th>A-</th>
                    <th>A+</th>
                    <th>AB-</th>
                    <th>AB+</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Plasma</th>
                    <% countPlasmas.forEach((countPlasma)=>{ %>
                        <td> <%= countPlasma %></td>
                    <% }) %>
                </tr>
                <tr>
                    <th>Red Blood Cells</th>
                    <% countRBCs.forEach((countRBC)=>{ %>
                        <td><%= countRBC %></td>
                    <% }) %>
                </tr>
                <tr>
                    <th>Platelets</th>
                    <% countPlatelets.forEach((countPlatelet)=>{ %>
                        <td><%= countPlatelet %></td>
                    <% }) %>
                </tr>
                <tr>
                    <th>Whole Blood</th>
                    <% countBloods.forEach((countBlood)=>{ %>
                        <td><%= countBlood %></td>
                    <% }) %>
                </tr>
            </tbody>
        </table>
    </section>

    <%-include("../common/footer")%>
</body>
</html>